
<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    
    <h1>The Home Page </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor, culpa repudiandae veniam hic et esse ab
        possimus necessitatibus dolorem magni ipsam asperiores nam obcaecati veritatis, sint quis nemo pariatur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis consectetur modi eius, reprehenderit in
        dignissimos perferendis, doloremque cum libero, explicabo id? Nam culpa earum iure nemo deserunt dolores
        pariatur vel.</p>
        <%- include('partials/footer') %>
