<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= %>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor, culpa repudiandae veniam hic et esse ab
        possimus necessitatibus dolorem magni ipsam asperiores nam obcaecati veritatis, sint quis nemo pariatur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis consectetur modi eius, reprehenderit in
        dignissimos perferendis, doloremque cum libero, explicabo id? Nam culpa earum iure nemo deserunt dolores
        pariatur vel.</p>
</body>

</html>