<!-- Header Partial -->
<%- include('partials/header.ejs') %>

<!-- Navbar partial -->
<%- include('partials/navbar.ejs') %>


<div class="container">
    <h1>Welcome to Classic Auto!</h1>
    <p>For the finest service you have come to the right place. Qui omnis commodi rerum perferendis ad vel tempora reprehenderit alias doloremque doloribus sunt voluptates, sapiente corporis quaerat possimus. Quos repellat culpa atque!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas repellendus debitis, ipsa omnis esse iste est reiciendis optio, cum magni. Ratione dolor odit tempora ex excepturi nisi impedit accusamus.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis ipsum officiis a repellat cum est dignissimos aliquid? Fugit repudiandae harum nam, praesentium excepturi fuga quam, perspiciatis hic et modi laboriosam.</p>

    <img size= width="400" height="500" src="https://th.bing.com/th/id/R.4eae69983e0e789682ad445396345e8a?rik=2DUyE6nFzLcnMw&pid=ImgRaw&r=0" alt="">
</div>

<!-- Footer Partial -->
<%- include('partials/footer.ejs') %>