<!-- Header Partial -->
<%- include('partials/header.ejs') %>

<!-- Navbar partial -->
<%- include('partials/navbar.ejs') %>
<div class="container">
    <h1>This is the locations page</h1>
</div>


<!-- Footer Partial -->
<%- include('partials/footer.ejs') %>