<!-- Header Partial -->
<%- include('partials/header.ejs') %>

<!-- Navbar partial -->
<%- include('partials/navbar.ejs') %>

<div class="container">
    <h1>Daily News</h1>
    <h2>Be sure to check daily for any changes in working hours!<h2>
    <p>We Will be closed this month the <%=date%>th. Sorry!</p> 
</div>

<!-- Footer Partial -->
<%- include('partials/footer.ejs') %>